.fondoIndex {
    background-color: aqua;
}

.fondoNeuro {
    background-color: burlywood;
}

.titulo1 {
    font-size: 80px;
    color: crimson;
}

.titulo2 {
    font-size: 50px;
    color: rgb(52, 180, 101);
}