body{
   
background-color: rgba(0, 0, 0, 0.507);
}
.titulo{
    color: cornsilk;
    font-family: cursive;
    text-align: center;
    font-size: 35px;
}
.nombre{
    color: rgb(238, 144, 163);
    font-family: cursive;

}